@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --tamnoPlava:hsl(233, 47%, 7%);
    --plava:hsl(244, 38%, 16%);
    --ljubicasta:hsl(277, 64%, 61%);
    --prozirnaBijela:hsla(0, 0%, 100%, 0.75);
    --prozirnaBijela2:hsla(0, 0%, 100%, 0.6);
}
body{
    font-family: 'Inter', sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tamnoPlava);
    font-size: 15px;
}
main{
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: red;
    background-color: var(--plava);
    border-radius: 20px;
    overflow: hidden;
}
.slika{
    position: relative;
}
.slika>img{
    width: 100%;
    height: 100%;
}
.slika::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--ljubicasta);
    opacity: 0.7;
}
.glavniP{
    padding: 75px 50px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1,h2{
    color: white;
    margin: 10px 0;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 24px;
}
p{
    color: var(--prozirnaBijela2);
}
span{
    color: var(--ljubicasta);
}
.statistike{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pomocni2>p{
    margin-top: 25px;
    font-size: 18px;
    line-height: 30px;
}

@media only screen and (max-width: 600px)  {
    main{
        width: 330px;
        grid-template-columns: 1fr;
    }
    h1{
        font-size: 30px;
    }
    .glavniP{
        text-align: center;
        padding: 15px;
    }
    .slika{
        grid-row: 1/span1;
    }
    .statistike{
        flex-direction: column;
    }
    .statistike>div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .pomocni2>p{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 17px;
        line-height: 25px;
    }
}
